* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  border: 1px solid;
  height: 100vh;
  display: flex;
}

.leftContainer {
  flex: 1.5;
  border: 1px solid black;
  background-color: black;
  color: white;
  font-size: 4.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-style: bold;
  font-weight: 700;
}

.rightContainer {
  flex: 2;
  border: 1px solid red;
  background-color: rgba(245, 245, 245, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.625rem;
}

.headingContainer {
  /* border: 1px solid blue; */
  width: 24.063rem;
}

.headingContainer h1 {
  font-size: 2.25em;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.headingContainer p {
  font-size: 1em;
  font-family: "Lato", sans-serif;
}

.buttonContainer {
  /* border: 2px solid yellowgreen; */
  display: flex;
  gap: 1.563rem;
}
.buttonContainer button {
  display: flex;
  align-items: center;
  width: 11.25rem;
  height: 1.875;
  padding: 0.5rem 1.188rem;
  gap: 0.625rem;
  border-radius: 0.625rem;
  border: none;
  background-color: rgba(255, 255, 255, 1);
}

.buttonContainer button span {
  font-size: 0.75rem;
  /* font-family: 'Montserrat',sans-serif; */
  color: #858585;
  font-weight: 400;
  /* font-size: 12px;
 line-height: 15px;
 text-align: center; */
}
.googleIcon {
  /* width: 0.719rem;
    height: 0.875rem; */
  /* font-size: 0.75rem; */
}
.appleIcon {
  color: #999999;
  /* width: 0.719rem;
    height: 0.875rem; */
  /* font-size: 0.75rem; */
}


.formContainer{
    width: 24.063rem;
    height: 19.813rem;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 1.25rem;
    /* border: 1px solid red; */
}

.formContainer form{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 1.25rem;
    padding: 1.875rem;
}

.formContainer form div {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    gap: 0.625rem;
    
}

.formContainer form div label{
    font-family: "Lato", sans-serif;
}
.formContainer form div input{
    width: 20.313rem;
    height: 2.5rem;
    border-radius: 0.625rem;
    border: none;
    font-size: 1em;
    padding-left: 0.938rem;
    outline: none;
    font-family: "Lato", sans-serif;
    background-color: #F5F5F5;
}


.forgotText label{
    font-family: "Lato", sans-serif;
  color: #346BD5;
}

.btn{
    width: 20.313rem;
    height: 2.5rem;
    border-radius: 0.625rem;
    border: none;
    font-size: 1em;
    background-color: black;
    color: white;
    font-family: 'Montserrat';
    font-weight: 700;
}

.register{
    color: #858585;
}

.register p span{
    color: #346BD5;
    font-family: "Lato", sans-serif;
}